{% extends "app/layout.html" %} {% block content %}

<h2>{{ title }}</h2>

<head>
    <meta charset="UTF-8">
    <title>PINpad</title>


    <link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/183786/waves.css'> {% load staticfiles %}
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="{% static 'app/content/style.css' %}" />


</head>

<body>
    <!--<div id="PINcode"></div>-->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/183786/waves.js'></script>

    <!--{% load staticfiles %}
<script src="{% static 'app/scripts/index.js' %}"></script>
-->

    <div class="row">
        <div id="PINcode">
            <section id="loginForm">
                <form action='' method='post' name='PINform' id='PINform' autocomplete='off'>
                    {% csrf_token %}
                    {{ form }}
                    <!--<input id='PINbox' type='password' value='' name='PINbox' disabled />
                    <input id='id_password' type='password' value='' name='PINbox' disabled />-->
                    <br/>
                    <input type='button' class='PINbutton' name='1' value='1' id='1' onClick=addNumber(this); />
                    <input type='button' class='PINbutton' name='2' value='2' id='2' onClick=addNumber(this); />
                    <input type='button' class='PINbutton' name='3' value='3' id='3' onClick=addNumber(this); />
                    <br>
                    <input type='button' class='PINbutton' name='4' value='4' id='4' onClick=addNumber(this); />
                    <input type='button' class='PINbutton' name='5' value='5' id='5' onClick=addNumber(this); />
                    <input type='button' class='PINbutton' name='6' value='6' id='6' onClick=addNumber(this); />
                    <br>
                    <input type='button' class='PINbutton' name='7' value='7' id='7' onClick=addNumber(this); />
                    <input type='button' class='PINbutton' name='8' value='8' id='8' onClick=addNumber(this); />
                    <input type='button' class='PINbutton' name='9' value='9' id='9' onClick=addNumber(this); />
                    <br>
                    <input type='button' class='PINbutton clear' name='-' value='clear' id='-' onClick=clearForm(this); />
                    <input type='button' class='PINbutton' name='0' value='0' id='0' onClick=addNumber(this); />
                    <!--<input type='button' class='PINbutton enter' name='+' value='enter' id='+' onClick=submitForm(password); />-->
                    <input type="submit" class="PINbutton enter" value="enter" />
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'register' %}">Registrate</a></li>
            </ul>
        </div>
    </div>
</body>

{% endblock %} {% block scripts %}

<script type="text/javascript">
    function addNumber(e){
        //document.getElementById('PINbox').value = document.getElementById('PINbox').value+element.value;
        var v = $( "#id_password" ).val();  //PINbox
        $( "#id_password" ).val( v + e.value );   //PINbox
    }
    function clearForm(e){
        //document.getElementById('PINbox').value = "";
        $( "#id_password" ).val( "" );   //PINbox
    }
    function submitForm(e) {
        if (e.value == "") {
            alert("Enter a PIN");
        } else {
            alert( "Your PIN has been sent! - " + e.value );
            data = {
            pin: e.value
        }
        /*      
        apiCall( data, function( r ) {
            $( "#logo" ).attr( "src", r.site_logo );
            $( ".title-msg" ).text( r.site_msg );
            accent = r.accent;
            $( ".accent-bg" ).css( "background-color", accent );
        });
        */
        
        //document.getElementById('PINbox').value = "";
        $( "#id_password" ).val( "" );   //PINbox
    };
};
</script> {% load staticfiles %}

<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script> {% endblock %}
